.sidebar {
  background-color: #333333;
  position: absolute;
  left: 40px;
  top: 40px;
  bottom: 40px;
  width: 40vw;
  z-index: 2;
  border-radius: 10px;
  overflow-y: scroll;
}

.fab-button {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 60px;
  height: 55px;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 5px;
  cursor: pointer;
}

.date-selector {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.fade {
  opacity: 0.5;
  color: #cccccc;
}
